:root {
    /* font-family */
    --font-courier: 'Courier New', Courier, monospace;
    --font-digital: 'Digital-7', monospace;

    /* colors */
    --b-black-dark: #1e1e1e;
    --b-black-light: #111;
    --b-grey-dark: #333;
    --b-grey-light: #444;
    --b-grey-light-transparent: rgba(255, 255, 255, 0.3);
    --b-red: #ff5252;
    --b-red-transparent: rgba(255, 0, 0, 0.3);
    --b-yellow: #FFC107;
    --bg-red: #752525;
    --bs-black-transparent: rgba(0, 0, 0, 0.5);
    --bs-black-opaque: rgba(0, 0, 0, 0.8);
    --bs-red-opaque: rgba(255, 82, 82, 0.7);
    --bs-yellow-opaque: rgba(255, 193, 7, 0.7);
    --c-white: white;
    --c-green: #4CAF50;
    --ts-green-opaque: rgba(76, 175, 80, 0.7);
}

.body {
    background-color: var(--bg-red);
    color: var(--c-white);
    font-family: var(--font-courier);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.dashboard {
    display: flex;
    align-items: center;
    gap: 20px;
    background:  var(--b-black-dark);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 30px var(--bs-black-transparent);
}

.device {
    width: 300px;
    height: 300px;
    margin: 100px;
    margin-left: 190px;
    position: relative;
}

.device-body {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--b-black-light);
    border: 8px solide var(--b-grey-dark);
    box-shadow: inset 0 0 15px var(--bs-black-opaque), 0 0 20px var(--bs-black-transparent);
    position: relative;
}

.scale {
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    top: 5%;
    left: 5%;
}

.mark {
    position: absolute;
    color: var(--c-white);
    font-size: 20px;
    transform: translate(-50%, -50%) rotate(var(--angle)) translateY(-110px) rotate(calc(-1 * var(--angle)));
    left: 50%;
    top: 50%;
}

.needle {
    position: absolute;
    width: 3px;
    height: 100px;
    bottom: 50%;
    left: 50%;
    transform-origin: 50% 100%;
    transform: rotate(-90deg);
    transition: transform 0.5s ease-out;
    z-index: 10;
}

.center {
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--b-grey-light);
    border-radius: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 20;
    box-shadow: 0 0 10px var(--bs-black-transparent);
}

.value {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-family: var(--font-digital);
}

.speedometer .scale {
    background: conic-gradient(
        var(--b-grey-light-transparent) 0deg 180deg,
        transparent 180deg 360deg
    );
}

.speedometer .needle {
    background: var(--b-red);
    box-shadow: 0 0 5px var(-bs-red-opaque);
}

.speedometer .value {
    color: var(--c-green);
}

.speedometer .label{
    color: var(--c-white);
    font-size: 18px;
    font-family: var(--font-courier);
    margin-left: 70px;
} 

.tachometer .label {
    color: var(--c-white);
    font-size: 18px;
    font-family: var(--font-courier);
    margin-left: 40px;
}

.tachometer .scale {
    background: conic-gradient(
        var(--b-red-transparent) 0deg 100deg,
        var(--b-grey-light-transparent) 100deg 180deg,
        transparent 180deg 360deg
    );
}

.tachometer .needle {
    background: var(--b-yellow);
    box-shadow: 0 0 5px var(--bs-yellow-opaque);
}

.tachometer .value {
    color: var(--b-yellow);
}

.device-display {
    background: var(--b-black-light);
    border: 2px solid var(--b-grey-dark);
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    margin: 20px auto;
    box-shadow: inset 0 0 10px var(--bs-black-transparent);
}

.device-indicator {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.display .label {
    padding: 10px;
    background: var(--b-grey-dark);
    border-radius: 5px;
    color: var(--b-grey-light);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.display .label:hover {
    background: var(--b-grey-light);
}

.current-gear {
    font-size: 42px;
    text-align: center;
    color: var(--c-green);
    text-shadow: 0 0 10px var(--ts-green-opaque);
    height: 60px;
    line-height: 60px;
    margin-top: 15px;
    font-family: var(--font-digital);
}

.device .label.active {
    background: var(--c-green);
    color: var(--b-black-light);
    box-shadow: 0 0 8px var(--bs-red-opaque);
}